.App{
  font-family: "Chakra Petch", sans-serif;
  font-weight: 400;
  font-style: normal;
}


.navbar{
  display:flex;
  height: 100px;
  list-style-type: none;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 8px;

}
.menuitems{
display: flex;
width: 300px;
list-style-type: none;
justify-content: space-between;
 font-family: "Chakra Petch", sans-serif;
  font-weight: 400;
  font-style: normal;

}
.logodiv{
  display: flex;
  justify-content: center;
  align-items: center;
}
.brandname{
  font-family: "Chakra Petch", sans-serif;
  font-weight: 700;
  font-style: normal;
}


/* ****** ABOUT ******* */
section{
 box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1)
}

.container section {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  max-height: auto;
  box-sizing: border-box;
  gap: 20px;
  
}
.container{
  display:flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
}

figure{
  border-radius: 5px;

  height: 300px;
}

.serviceheaders{
  font-size: 2rem;
  font-weight: bold;
  color: #82a9e8;
}

section p{
  padding: 8px;
  text-align: center;
}

/* *********CONTACT ********* */
/*  */
.contact{
  justify-content: space-around;
  align-items: center;
  height: fit-content;
}
.contactform{
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  align-items: center;
  height: 300px;
}
.contactmobilediv{
  margin: 0 auto;
  padding-left: 3px;
  margin-bottom: 8px;
}
.contactmobilediv p{
  padding: 1px;
  margin: 1px;
}
.input {
  width: 300px;
  padding: 10px;
  border: 2px solid #e8eaf0;
  border-radius: 5px;
  font-size: 16px;
  transition: border-color 0.3s ease;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1)
}

/* Hover effect */
.input:hover,
.input:focus {
  border-color: #e4eef9;
  outline: none;
}

/* Placeholder color */
.input::placeholder {
  color: #999;
}

.btn1 {
  display: inline-block;
  padding: 10px 20px;
  background-color: #007bff; /* Blue color */
  color: #fff; /* White text */
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

/* Hover effect */
.btn1:hover {
  background-color: #cae0f9; /* Darker blue color */
  color: #007bff;
}
/* ********** FOOTER ********** */

.footer{ 
  height: 100px;
  width: 100%;
  color: rgb(0, 0, 0);
  text-align: center;
  padding-bottom: 1rem;
  border-top: 1px solid rgb(231, 226, 226);
  box-shadow: 0 -4px 8px rgba(0, 0, 0, 0.1);
  
  display: flex;
  justify-content: space-around;
  align-items: center;
}

/* *******FOOTER END ******* */

form{
  font-family: "Chakra Petch", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.textfield1{
  padding: 10px;
}

.form-group {
  position: relative;
  display: inline-block; /* Ensure the button stays next to the input */
}

.form-control {
  padding-right: 60px; /* Adjust as needed to accommodate the button */
  padding-left: 60px;
   border: 2px solid #e6e8f3;
  border-radius: 5px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1)

}

.btn {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 50px; /* Adjust width as needed */
  padding-right: 80px;

  /* padding: 10px 20px; */
  background-color: #007bff; /* Blue color */
  color: #fff; /* White text */
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.landingpage{
 width: 100%;
 height: 100vh;
}
.header{
  height: 500px;
  width: 80%;
  margin: 0 auto;
  background-color:#11161E;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  color: white;
}
.headermenu{
  display: flex;
  gap: 20px;

}
.headermenu p{
  box-shadow:  0 4px 6px rgba(255, 254, 254, 0.5);
  padding: 3px;
}
.headercvoptions{
  position: fixed;
  left : 90%;
  top: 70%;
  float: left;
  margin: 0;
  padding: 0;
}
.headercvoptions h3, img{
  padding: 0;
  margin: 0;
}

.mypicdiv{
  display: flex;
  flex-direction: row;
  margin-left: 8px;
  align-items: center;
}
.mypicdiv p{
  padding: 0;
  margin: 0;
  font-size: small;
} 

.mypic{
  border-radius: 50%;
  border: 3px solid rgb(220, 220, 248);
  height:80px;
  width: 80px;
}
.workimgs{
  height: 100px;
  width: 100px;
  box-shadow: 0 4px 6px rgba(250, 250, 250, 0.3);
  border-radius: 20px;
  
}
.typingcursor{
  animation: blink 0.7s step-start infinite;
}
@keyframes blink {
  50%{opacity: 0;}
}
.landingbtn{
color: white;
  background-color: black;
  border: none;
  padding-bottom: 0;
  margin: 0;
}

.landingbtn:hover{
  color: #cae0f9;
  cursor: pointer;
}
.landingbtndiv{
  width: 100%;
  background-color: #30363D;
}

.optiondesc{
  width: 500px;
  height: 200px;
  box-sizing: border-box;
  border-radius: 20px;
  box-shadow: 0 4px 6px rgba(0, 234, 234,0.1);
  padding: 5px;
}
.option-desc-img-div{
  display: flex;
}

.socials button{
  padding: 10px 20px;
  font-weight: bolder;
}

.socials a:nth-child(1) button{
  color: white;
  background-color:#0866FF ;
   border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.socials a:nth-child(2) button{
  color: white;
  background-color:#0A66C2 ;
   border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.socials a:nth-child(3) button{
  color: white;
  background-color:#080808 ;
   border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.socials{
  justify-content: center;
  align-items: center;
  margin-bottom: 8px;
}